<nav>
  <h1>Hi.</h1>
  <a href="/">
		<style type="text/css">
    .avatar{ 
        margin-top: 0px; 
        width:150px; 
        height:150px; 
        border-radius:150px; 
    }
    </style>
    {% if site.data.theme.social.avatar %}
    <img class="avatar" src="/images/avatar.jpg" height="80" width="80" id="avatar" alt="My photo"/>
    {% else %}
    <img src="/logo.png" id="logo" alt="Blog logo"/>
    {% endif %}
  </a>
  <h2>我是 <a href="/">{{ site.data.theme.name }}</a>.</h2>
  <div id="bio">
    <p> 一个热爱生活的人.</p>
    <p> 在这里记录下生活的点滴和感想.</p>
    <p>
    <code> 众生皆苦，唯有自度.</code>
    <!-- Edit me in <code>_includes/sidebar.html</code> -->
    </p>
  </div>
  <div id="social">
    {% include social.html %}
  </div>
</nav>
